<form method="post" action="{{ path('app_measurement_entry_delete', {'id': measurement_entry.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ measurement_entry.id) }}">
    <button class="btn">Delete</button>
</form>
